.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  margin-top: 16px;
}
.card {
  display: block;
  border: 1px solid var(--vp-c-bg-soft);
  border-radius: 12px;
  height: 100%;
  background: var(--vp-c-bg-soft);
  transition: border-color 0.25s, background-color 0.25s;
  padding: 16px;
  text-decoration: none !important;
  color: var(--vp-c-text-1);
}
.card:hover {
  border-color: var(--vp-c-brand-1);
}
.card-content h4 {
  margin: 10px 0 5px;
  text-align: center;
}
.card-content p {
  font-size: 0.8em;
  text-align: center;
  margin: 0;
  padding: 0 auto;
  color: var(--vp-c-text-2);
  line-height: 1rem;
}
.card-content a p {
  text-decoration: none !important;
}
.card img {
  display: block;
  margin: 0 auto;
  max-width: 95%;
}
